body{
  background-color: black;
  color: white;
  font-family: Arial;
}

.title{
  font-size: 50px;
  font-weight: bold;
}

img{
  height:60px;
}

.move_button{
  background-color: transparent;
  border: 4px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result{
  font-size: 25px;
  font-weight: bold;
}

.Reset , .Auto{
  background-color: grey;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 25px;
  border-radius: 10px;
  cursor: pointer;
}